Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
device-specs/Makefile
device-specs/Makefile.in
include/Makefile
include/Makefile.in
install-sh
ldscripts/Makefile
ldscripts/Makefile.in
missing
stamp-h1
config.h.in~
*~
depcomp
test-driver
